## Methodology for preparing geojson of all states with data for onclick events

1. Start with US geojson from US Census
2. Bring into https://geojson.io and delete all the boundaries not wanted, save that file (us_all.geojson)
3. Prepare the csv file with the data for the onclick events (map_data.csv)
4. Read the geojson and the csv file into Pandas
5. Merge those two files using geopandas
6. Export the merge df as a shape file using geopandas
7. Convert the shape files to geojson using an online converter (https://mygeodata.cloud/converter/shp-to-geojson).

Didn't use Dom's code because I couln't get the geometry to export. Left code at the bottom on notebook for future reference.

In [1]:
import pandas as pd
import geopandas
import json
import numpy as np
import fiona
# import fiona; help(fiona.open)

In [2]:

gdf = geopandas.read_file("US_map/us_all.geojson")
pdf = pd.read_csv("map_data_all.csv")

In [3]:
gdf

,AREA,PERIMETER,ST99_D00_,ST99_D00_I,STATE,NAME,LSAD,REGION,DIVISION,LSAD_TRANS,geometry
0,271.254384,227.171422,2,1,02,Alaska,01,4,9,None,"POLYGON ((-147.78711 70.24536, -147.76510 70.2..."
1,25.539497,31.407183,83,82,27,Minnesota,01,2,4,None,"POLYGON ((-95.15332 49.19311, -95.15342 49.249..."
2,20.853578,30.717392,84,83,53,Washington,01,4,9,None,"POLYGON ((-122.29069 49.00243, -122.28565 49.0..."
3,45.078463,34.976231,86,85,30,Montana,01,4,8,None,"POLYGON ((-116.04919 49.00091, -116.00103 49.0..."
4,24.456828,29.190335,87,86,16,Idaho,01,4,8,None,"POLYGON ((-116.04919 49.00091, -116.04918 48.8..."
...,...,...,...,...,...,...,...,...,...,...,...
58,0.058534,1.443311,255,254,15,Hawaii,01,4,9,None,"POLYGON ((-156.98234 21.20780, -156.98446 21.2..."
59,0.163529,2.061015,256,255,15,Hawaii,01,4,9,None,"POLYGON ((-156.58683 21.02704, -156.58045 21.0..."
60,0.031553,0.720769,257,256,15,Hawaii,01,4,9,None,"POLYGON ((-157.01000 20.92976, -156.98981 20.9..."
61,0.009946,0.453710,258,257,15,Hawaii,01,4,9,None,"POLYGON ((-156.56714 20.60489, -156.55873 20.5..."
62,0.898700,4.381072,259,258,15,Hawaii,01,4,9,None,"POLYGON ((-155.63492 18.94609, -155.63805 18.9..."

In [4]:
pdf

,NAME,State,AltFuelStn,ChgStns,ChgOut,Em05,Em05Trans,Incentives,Population,MedianInc
0,Alabama,AL,814,172,432,172.421366,35.988536,12,4887681,50536
1,Alaska,AK,73,37,67,56.171623,19.245401,9,735139,77640
2,Arizona,AZ,2224,753,1907,110.289794,38.041791,31,7158024,58945
3,Arkansas,AR,516,124,390,84.293401,21.239122,11,3009733,47597
4,California,CA,39643,13096,33324,476.131228,235.463697,153,39461588,75235
5,Colorado,CO,3783,1331,3139,126.153712,30.762691,49,5691287,72331
6,Connecticut,CT,1403,448,1191,49.460796,18.940686,34,3571520,78444
7,Delaware,DE,276,98,248,18.735743,5.328213,19,965479,68287
8,District of Columbia,DC,789,238,650,5.039416,1.452165,16,701547,86420
9,Florida,FL,6584,2205,5427,296.084508,117.510451,25,21244317,55660
10,Georgia,GA,3976,1433,3591,205.216700,71.216890,13,10511131,58700
11,Hawaii,HI,837,367,753,25.934498,13.084581,21,1420593,81275
12,Idaho,ID,374,101,252,29.944624,8.965070,15,1750536,55785
13,Illinois,IL,2959,863,2160,297.443087,79.013898,31,12723071,65886
14,Indiana,IN,1202,286,794,282.647233,46.697561,29,6695497,56303
15,Iowa,IA,886,227,486,129.508525,21.804555,26,3148618,60523
16,Kansas,KS,1105,446,918,116.850224,18.433058,18,2911359,59597
17,Kentucky,KY,505,159,380,182.408842,34.383011,14,4461153,50589
18,Louisiana,LA,475,137,334,237.520737,51.946930,15,4659690,49469
19,Maine,ME,567,244,513,26.239513,9.636015,25,1339057,57918
20,Maryland,MD,3229,1034,2708,97.564550,33.053512,28,6035802,84805
21,Massachusetts,MA,4168,1724,3807,92.719041,35.011216,43,6882635,81215
22,Michigan,MI,2036,708,1555,222.264111,57.599813,19,9984072,57144
23,Minnesota,MN,1964,530,1185,133.031986,37.647662,36,5606249,71306
24,Mississippi,MS,510,90,275,80.751645,26.070181,15,2981020,45081
25,Missouri,MO,2296,961,2017,180.395674,42.998367,15,6121623,55461
26,Montana,MT,226,63,191,50.843711,8.519563,19,1060665,54970
27,Nebraska,NE,440,139,304,84.062574,12.657120,17,1925614,61439
28,Nevada,NV,1340,426,1218,55.440741,17.213761,22,3027341,60365
29,New Hampshire,NH,340,130,291,22.761307,7.595320,27,1353465,76768
30,New Jersey,NJ,1930,599,1541,141.985377,70.840195,34,8886025,82545
31,New Mexico,NM,518,154,386,83.168354,15.786081,22,2092741,49754
32,New York,NY,7086,2511,6105,251.112448,76.183372,51,19530351,68486
33,North Carolina,NC,2757,881,2066,178.289241,55.339745,33,10381615,54602
34,North Dakota,ND,187,50,116,66.806329,6.419279,19,758080,64894
35,Ohio,OH,2231,757,1643,319.840396,73.243646,13,11676341,56602
36,Oklahoma,OK,1360,263,968,144.584504,31.648135,28,3940235,52919
37,Oregon,OR,2391,839,2018,54.547158,24.012615,43,4181886,62818
38,Pennsylvania,PA,2728,953,2249,321.709446,74.695926,23,12800922,61744
39,Rhode Island,RI,585,208,480,12.667744,4.509714,26,1058287,67167
40,South Carolina,SC,934,328,723,100.108100,31.437084,17,5084156,53199
41,South Dakota,SD,238,45,131,36.593148,6.257833,14,878698,58275
42,Tennessee,TN,1761,582,1320,148.286572,46.754846,19,6771631,53320
43,Texas,TX,5896,2046,4793,811.571818,199.232214,31,28628666,61874
44,Utah,UT,1832,802,1692,77.877112,17.191121,30,3153550,71621
45,Vermont,VT,838,298,811,8.662431,3.996870,29,624358,61973
46,Virginia,VA,3092,880,2429,152.900449,57.112547,38,8501286,74222
47,Washington,WA,4289,1499,3675,96.264174,44.593140,47,7523869,73775
48,West Virginia,WV,334,87,250,142.261461,12.935266,11,1804291,46711
49,Wisconsin,WI,1261,434,842,135.823441,31.331999,32,5807406,61747
50,Wyoming,WY,210,58,166,91.040321,8.517090,11,577601,64049

In [5]:
joined_gdf = gdf.merge(pdf, on="NAME")
joined_gdf

,AREA,PERIMETER,ST99_D00_,ST99_D00_I,STATE,NAME,LSAD,REGION,DIVISION,LSAD_TRANS,geometry,State,AltFuelStn,ChgStns,ChgOut,Em05,Em05Trans,Incentives,Population,MedianInc
0,271.254384,227.171422,2,1,02,Alaska,01,4,9,None,"POLYGON ((-147.78711 70.24536, -147.76510 70.2...",AK,73,37,67,56.171623,19.245401,9,735139,77640
1,25.539497,31.407183,83,82,27,Minnesota,01,2,4,None,"POLYGON ((-95.15332 49.19311, -95.15342 49.249...",MN,1964,530,1185,133.031986,37.647662,36,5606249,71306
2,20.853578,30.717392,84,83,53,Washington,01,4,9,None,"POLYGON ((-122.29069 49.00243, -122.28565 49.0...",WA,4289,1499,3675,96.264174,44.593140,47,7523869,73775
3,45.078463,34.976231,86,85,30,Montana,01,4,8,None,"POLYGON ((-116.04919 49.00091, -116.00103 49.0...",MT,226,63,191,50.843711,8.519563,19,1060665,54970
4,24.456828,29.190335,87,86,16,Idaho,01,4,8,None,"POLYGON ((-116.04919 49.00091, -116.04918 48.8...",ID,374,101,252,29.944624,8.965070,15,1750536,55785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,0.058534,1.443311,255,254,15,Hawaii,01,4,9,None,"POLYGON ((-156.98234 21.20780, -156.98446 21.2...",HI,837,367,753,25.934498,13.084581,21,1420593,81275
59,0.163529,2.061015,256,255,15,Hawaii,01,4,9,None,"POLYGON ((-156.58683 21.02704, -156.58045 21.0...",HI,837,367,753,25.934498,13.084581,21,1420593,81275
60,0.031553,0.720769,257,256,15,Hawaii,01,4,9,None,"POLYGON ((-157.01000 20.92976, -156.98981 20.9...",HI,837,367,753,25.934498,13.084581,21,1420593,81275
61,0.009946,0.453710,258,257,15,Hawaii,01,4,9,None,"POLYGON ((-156.56714 20.60489, -156.55873 20.5...",HI,837,367,753,25.934498,13.084581,21,1420593,81275
62,0.898700,4.381072,259,258,15,Hawaii,01,4,9,None,"POLYGON ((-155.63492 18.94609, -155.63805 18.9...",HI,837,367,753,25.934498,13.084581,21,1420593,81275

In [6]:
list(joined_gdf.columns)

['AREA',
 'PERIMETER',
 'ST99_D00_',
 'ST99_D00_I',
 'STATE',
 'NAME',
 'LSAD',
 'REGION',
 'DIVISION',
 'LSAD_TRANS',
 'geometry',
 'State',
 'AltFuelStn',
 'ChgStns',
 'ChgOut',
 'Em05',
 'Em05Trans',
 'Incentives',
 'Population',
 'MedianInc']

In [7]:
# # Try writing to file using geopandas

# joined_gdf.to_file("test.geojson", driver="GeoJSON")

In [8]:
# Write to shape file

joined_gdf.to_file("all_final.shp")

## Code from Dom

In [9]:
# # Define a helper function to format Geojson
# # Dom worked to customize this to convert data to dictionary

# def dfGeoJSON(joined_gdf):
#     geojson = {'type': 'FeatureCollection', 'features':[]}
    
#     for i in range(len(joined_gdf)):
        
#         dict = {}
#         dict['AREA'] = joined_gdf.iloc[i, 0]
#         dict['PERIMETER'] = joined_gdf.iloc[i, 1]
#         dict['NAME'] = joined_gdf.iloc[i, 5]
#         dict['geometry'] = joined_gdf.iloc[i, 10]
#         dict['State'] = joined_gdf.iloc[i, 11]
#         dict['AltFuelStations'] = joined_gdf.iloc[i, 12]
#         dict['ChargeStations'] = joined_gdf.iloc[i, 13]
#         dict['ChargeOutlets'] = joined_gdf.iloc[i, 14]
#         dict['2005Emissions(MtCO2)'] = joined_gdf.iloc[i, 15]
#         dict['2005EmissionsTrans(MtCO2)	'] = joined_gdf.iloc[i, 17]
#         dict['Incentives'] = joined_gdf.iloc[i, 19]
        
#         # feature = joined_gdf.iloc[i, 2]
#         geojson['features'].append(dict)
        
#     return geojson

In [10]:
# # Convert the updated dataframe back to a GeoJSON

# geojson = dfGeoJSON(joined_gdf)

In [11]:
#geojson

In [12]:
# # Define a helper function to deal with numpy datatypes

# def convert(o):
#     if isinstance(o, np.int64): return int(o)
# #     raise TypeError

In [13]:
# # Save the GeoJSON file

# with open("final_geojson.geojson", 'w') as file:
#     file.write(json.dumps(geojson, default=convert))

In [14]:
# Original code Dom provided

# # Define a helper function to format a GeoJSON
# def dfGeoJSON(df):
#     geojson = {'type': 'FeatureCollection', 'features': []}
#     for i in range(len(df)):
#         feature = df.iloc[i, 1]
#         geojson['features'].append(feature)
#     return geojson

# # Convert the updated dataframe back to a GeoJSON
# geojson = dfGeoJSON(df)

# # Define a helper function to deal with numpy datatypes
# def convert(o):
#     if isinstance(o, np.int64): return int(o)  
#     raise TypeError
    
# # Finally, save the new GeoJSON file
# with open(new_geojson_file, 'w') as file:
#      file.write(json.dumps(geojson, default=convert))